<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/user" method="post">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="number" name="age" placeholder="Enter your age">
        <button type="submit">Submit</button>
    </form>
    <!-- url emebeded data -->
    <h1>User Data</h1>
    <% userData.forEach((ele)=>{ %>
        <li><%= ele.name %> 
            <%= ele.age %></li>
    <% }) %>
</body>
</html>